<!--#ACERCA DE:-->
<div>
    <div class="card mat-card" *ngFor="let acercade of acercaDeList">
        <div class="card-titles">
            <h2>{{acercade.titulo}}</h2>
            <p id="acercaDe{{acercade.idSeccion}}" class="hidden">{{acercade.idSeccion}}</p>
            <div id="btn-edit" *ngIf="usuarioJson.dni != 1">
                <a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a>
            </div>
        </div>
        <div>{{acercade.descripcion}}</div>
    </div>
</div>
<div class="modal_top">
    <div class="modal_container">
        <h2 class="modal_titulo">Editar "Acerca de"</h2>
        <div class="modal_formContainer">
            <form action="submit" class="modal_form" [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" formControlName="titulo" [ngClass]="{'is-invalid': titulo?.errors && titulo?.touched,
                        'is-valid': !titulo?.errors && titulo?.touched}" class="form-control input_user"
                        placeholder="titulo">
                </div>
                <div *ngIf="titulo?.errors && titulo?.touched">
                    <p *ngIf="titulo?.hasError('required')" class="text-danger">
                        Se requiere un titulo.
                    </p>
                    <p *ngIf="titulo?.errors?.['maxlength']" class="text-danger">
                        Maximo 255 caracteres.
                    </p>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="text" formControlName="descripcion" [ngClass]="{'is-invalid': descripcion?.errors && descripcion?.touched, 
                        'is-valid': !descripcion?.errors && descripcion?.touched}" class="form-control input_pass"
                        placeholder="descripcion">
                </div>
                <div *ngIf="descripcion?.errors && descripcion?.touched">
                    <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                        Se requiere una descripcion.
                    </p>
                    <p *ngIf="descripcion?.errors?.['maxlength']" class="text-danger">
                        Maximo 255 caracteres.
                    </p>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <button type="submit" class="modal_ingresar">Modificar</button>
                    <button type="button" class="modal_close" (click)="onClose($event)">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>