<ng-template #customLoadingTemplate>
    <div class="custom-class"> 
    </div>
</ng-template>
<ngx-loading 
    [show]="loading"
    [config]="{ fullScreenBackdrop: true }"
    [template]="customLoadingTemplate"
></ngx-loading>

<div *ngIf="!loading" [hidden]="loading">
    <app-encabezado [usuario]="usuario"></app-encabezado>
    <app-perfil [usuario]="usuario"></app-perfil>
    <app-experiencia [usuario]="usuario"></app-experiencia>
    <app-skills [usuario]="usuario"></app-skills>
    <app-proyectos [usuario]="usuario"></app-proyectos>
</div>